.skeleton {
    background-color: #f0f0f0;
    border-radius: 4px;
    animation: pulse 1.5s ease-in-out infinite;
    width: 100%;
    height: 100%;
}

.circle {
    border-radius: 50%;
}

.text {
    height: 1em;
    margin-bottom: 0.5em;
}

@keyframes pulse {
    0% {
        opacity: 1;
        background-color: #f0f0f0;
    }

    50% {
        opacity: 0.7;
        background-color: #e0e0e0;
    }

    100% {
        opacity: 1;
        background-color: #f0f0f0;
    }
}